html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

header {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  border: 1px solid red;
  background-color: rgb(116, 112, 112);
  position: sticky;
  font-size: 2rem;
  width: 100%;
}

nav {
  justify-self: end;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 0 3.5rem;
  padding: 0.5rem;
}

li:hover {
  border: 1px dashed green;
}

a {
  text-decoration: dashed;
  color: floralwhite;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 40rem;
  grid-gap: 0.7rem;
}

.section--info {
  background: url(/images/kitchen_table.jpg);
  background-size: cover;
  text-align: center;
  padding: 25rem 0;
  font-size: x-large;
  display: grid;
  justify-items: center;
}

.section--info h2 {
  color: honeydew;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: -3px 3px 2px black;
}

.section--info p {
  color: oldlace;
  font-weight: bold;
  text-shadow: -2px 2px 2px navy;
}

.section--info button {
  padding: 2rem 8rem;
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: blueviolet;
  border-radius: 3.5rem;
  color: floralwhite;
  text-shadow: -3px 3px 16px black;
  cursor: pointer;
}

.section--contect {
  color: floralwhite;
  padding: 4rem 20rem;
  background-color: rgb(116, 112, 112);
  font-size: 2rem;
}

.form-item {
  margin: 2rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: floralwhite;
}

.form-item button {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background-color: cornsilk;
  color: brown;
  border-radius: 2.5rem;
  cursor: pointer;
}

.form-element {
  width: 30%;
  min-width: 20rem;
}

.rdb {
  border: 1px solid red;
}
